@model IEnumerable<MonitoringSystemModel.SubjectCP>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Teacher.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubjectCPName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Term)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectCPName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Term)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SubjectCP_ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.SubjectCP_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.SubjectCP_ID })
            </td>
        </tr>
    }

</table>
