@model MonitoringSystem_Web_.Models.SubjectModel
@{
    ViewBag.Title = "Список предметов";
}

<h2>Список предметов</h2>
<table class="table">
    <tr>
        <th>Название предмета</th>
        <th>Семестр</th>
        <th>Тип предмета</th>
    </tr>
    @{
        foreach (var subject in Model.subjects)
        {
            <tr>
                <td>
                    @Html.RouteLink(subject.SubjectName, "toMarksWeb",
                                 new
                                 {
                                     controller = "SubjectsWeb",
                                     action = "ShowMarks",
                                     groupId = ViewBag.GroupNumber as string,
                                     subjectId = subject.SubjectID
                                 })
                </td>
                <td>@subject.Term</td>
                <td>@subject.SubjectType</td>
            </tr>
        }
        foreach (var subjectCP in Model.subjectCPs)
        {
            <tr>
                <td>
                    @Html.RouteLink(subjectCP.SubjectCPName, "toCPMarksWeb",
                                 new
                                 {
                                     controller = "SubjectCPsWeb",
                                     action = "ShowMarks",
                                     groupId = ViewBag.GroupNumber as string,
                                     subjectId = subjectCP.SubjectCP_ID
                                 })
                </td>
                <td>@subjectCP.Term</td>
            </tr>
        }
    }
</table>
